#parent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

#leftSideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    height: 100%;
    width: 18%;
    min-width: 280px;
    min-height: 720px;
}

.leftContainer{
    background-color: lightgray;
}

.mainBody{
    height: 100%;
    width: 67%;
    max-height: 100vh;
    min-height: 720px;
    min-width: 500px;
    background-color: #404040;
    background-image: url('../images/cross-stripes.png');
    overflow: hidden;
}


.mainBodyNoList{
    height: 100%;
    width: 67%;
    max-height: 100vh;
    background-color: #00001a;
}

#toggleSwitchContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin-top: 5px;
}

#sortButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 90%;
    margin: 20px 0px 20px 0px;
}

.sortButton{
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
}

.sortButton:active{
    scale: 0.9;
}

#arrowButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

#arrowInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrowRightLeftLabel{
    margin-top: 92px;

}

.arrowUpDownLabel{
    margin-top: 6px;
    margin-bottom: 6px;
}

#keyboardGuide{
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 500;
}

.arrowsImage{
    height: 110px;
    width: auto;
}

.toggleFeature{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 60%;
    height: fit-content;
}


.nameList{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: 1px solid black;
    background-color: lightskyblue;
}

.nameListSelected{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: 1px solid black;
    background-color: goldenrod;
}


.nameList:hover{
    background-color: lightgray;
}


.listNumber{
    width: 60px;
}

#rightSideBar{
    width: 15%;
    overflow-y: auto;
    background-color: lightskyblue;
    min-height: 720px;
    min-width: 175px;
}


.mainBodyShowLabel{
    color: white;
    font-size: 34px;
}

.upLabel{
    color: white;
    font-size: 40px;
}

.mainBodyHideLabel{
    display: none;
}

.star{
    position: absolute;
    background-color: white;
}

.wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

.wrapper:after {
padding-top: 62.5%;  /* 8:5 ratio */
display: block;
content: '';
}

.fixedAspectRatio {
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color: #00001a;
color: white;
}

.lineStyle{
stroke: darkred;
stroke-width: 2px;
}

h1{
font-size: 30px;
font-weight:500;
margin: 30px 0px 0px 0px;
}

#emptyList{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height:100%;
width: 15%;
background-color: lightgray;
}

.eyeOffImage{
height: 20px;
width: auto;
}

.labelContainer{
position: relative;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 80px;
width: 100%;
}

#leftSideBarFlexContainer{
height: 100%;
max-height: 800px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.leftSidebarNotes{
margin: 20px 10px 20px 10px;
font-size: 16px;
font-weight: 400;
}

